@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection!</h1>

<div>
    <p>This database is all thanks to this man</p>
</div>

<img src="~/img/JoelHiltonHeadshot.jpg" height="500" />
<br />

<div>
    <br />



</div>